<h6 class="text-center">WE Are Present In Three Countries</h6> 
<div class="container-fluid">
<div class="alert alert-dark">
    <h1 class="text-center text-warning">India</h1>
    <h1 class="text-center text-dark">Contact Us</h1>
    <h3 class="text-center text-dark">indiaservice@fashionclub.com</h3>
    <h3 class="text-center text-dark">+91-0123456789</h3>
    <br>
    <h1 class="text-center text-warning">UK</h1>
    <h1 class="text-center text-dark">Contact Us</h1>
    <h3 class="text-center text-dark">ukservice@fashionclub.com</h3>
    <h3 class="text-center text-dark">+01-7466636663</h3>
    <br>
    <h1 class="text-center text-warning">US</h1>
    <h1 class="text-center text-dark">Contact Us</h1>
    <h3 class="text-center text-dark">usservice@fashionclub.com</h3>
    <h3 class="text-center text-dark">+00-2355625563</h3>
        </div>
        </div>
      
       
     
