<p>home works!</p>
<div class="container">         
    <img src="grocery1.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236"> 
  </div>
  
    <br>
    <h1 class="text-center text-success"> Our Top Products </h1> 
    <br>
  
    <div class="row">
      <div class="col-sm-3" style="background-color:white;">
        <img src="../assets/almonds.jpg" alt="index" width="80%" height="250px">
        <pre>
         <h5 class="text-left text-primary">Almonds </h5> 
          <h5 class="text-left text-success">Cashew</h5>
          <h5 class="text-left text-warning">Apricot</h5>
        </pre>
        <button class="btn btn-primary">
          <span class="spinner-border spinner-border-sm"></span>
          know More
        </button>
      </div>
      <div class="col-sm-3" style="background-color:white;">
        <img src="../assets/fortune.jpg" alt="index" width="80%" height="250px">
        <pre>
          <h5 class="text-left text-primary">Fortune Mustard Oil</h5> 
           <h5 class="text-left text-success">Fortune Soya Oil</h5>
           <h5 class="text-left text-warning">Fortune Groundnut Oil</h5>
         </pre>
         <button class="btn btn-primary">
          <span class="spinner-border spinner-border-sm"></span>
          know More
        </button>
      </div>
      <div class="col-sm-3" style="background-color:white;">
        <img src="../assets/daal.jpg" alt="index" width="80%" height="250px">
        <pre>
          <h5 class="text-left text-primary">Urad dal / kaali dal</h5> 
           <h5 class="text-left text-success">Moong dal</h5>
           <h5 class="text-left text-warning">Masoor dal</h5>
         </pre>
         <button class="btn btn-primary">
          <span class="spinner-border spinner-border-sm"></span>
          know More
        </button>
      </div>
      <div class="col-sm-3" style="background-color:white;">
        <img src="../assets/kurkure.jpg" alt="index" width="80%" height="250px">
        <pre>
          <h5 class="text-left text-primary">Lays</h5> 
           <h5 class="text-left text-success">Kurkure</h5>
           <h5 class="text-left text-warning">Uncle Chips</h5>
         </pre>
         <button class="btn btn-primary">
          <span class="spinner-border spinner-border-sm"></span>
          know More
        </button>
      </div>
    </div>
    <br><br>
    <h1 class="text-center text-warning"> Special Offers (Kitchen)</h1>
    <div class="container">
        <div class="card-columns">
      <div class="card" style="width:400px">
        <img class="card-img-top" src="../assets/surf.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Surf Excel, 950gm</h4>
          <h3> <del>$102.00</del><br> $99.00</h3>
          <a href="#" class="btn btn-primary">Add Cart</a>
        </div>
      </div>
      <div class="container">
        <div class="card" style="width:400px">
          <img class="card-img-top" src="../assets/kisn.jpg" alt="Card image" style="width:100%">
          <div class="card-body">
            <h4 class="card-title">kissan ketchup, 950gm</h4>
            <h3><del>$95.00</del><br>$88.00 </h3>
            <a href="#" class="btn btn-primary">Add Cart</a>
          </div>
        </div>
        <div class="container">
          <div class="card" style="width:400px">
            <img class="card-img-top" src="../assets/sugar.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Sugar</h4>
              <h3><del>$89.00</del><br> $84.00</h3>
              <a href="#" class="btn btn-primary">Add Cart</a>
            </div>
          </div> </div> </div> </div> </div> 
          <h1 class="text-center text-danger"> Special Offers (Household)  </h1>
          <div class="container">
              <div class="card-columns">
            <div class="card" style="width:400px">
              <img class="card-img-top" src="../assets/cleans.jpg" alt="Card image" style="width:100%">
              <div class="card-body"><br>
                <h4 class="card-title">Spin Floor Mop</h4>
                <h3> <del>$90.00</del><br> $72.00</h3>
                <a href="#" class="btn btn-primary">Add Cart</a>
              </div>
            </div>
            <div class="container">
              <div class="card" style="width:400px">
                <img class="card-img-top" src="../assets/tiffen.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                  <h4 class="card-title">Tiffen Box</h4>
                  <h3><del>$64.00</del><br>$60.00 </h3>
                  <a href="#" class="btn btn-primary">Add Cart</a>
                </div>
              </div>
              <div class="container">
                <div class="card" style="width:400px">
                  <img class="card-img-top" src="../assets/cooking.jpg" alt="Card image" style="width:100%">
                  <div class="card-body"><br><br><br><br>
                    <h4 class="card-title">Glass</h4>
                    <h3><del>$120.00</del><br> $108.00</h3> 
                    <a href="#" class="btn btn-primary">Add Cart</a>
                  </div>
                </div> </div> </div> </div> </div> 
                <br> <br>
                <div class="clearfix">
                    <div class="box" style="background-color:#bbb">
                    <h2>USEFUL LINKS</h2>
                    <pre>
                      <h5>FAQS</h5>
                     <h5>ABOUT US </h5>
                      <h5>CONTACT US</h5>
                    </pre>
                    </div>
                    <div class="box" style="background-color:#bbb">
                    <h2>TOP BRANDS</h2>
                    <pre>
                     <h5>TUPPER WARE</h5>
                     <h5>WAVELENGTH</h5>
                     <h5>BRINK</h5>
                     </pre>
                    </div>
                    </div>
                    <nav class="navbar navbar-expand-lg bg-secondary"></nav>
                    <h1>COPYRIGHT@2019</h1>
                    
                    
         
