
<nav class="navbar navbar-expand-sm bg-black navbar-black">
        <a class="navbar-brand" href="#">
                <img src="../assets/pic4.png" alt="Logo" style="width:60px;">
              </a>
              <h1 class="text-muted">Fashion Club</h1>
              
              <form class="form-inline" action="/action_page.php">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-success" type="submit">Search</button>
              </form>
              
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/"><h5>Home</h5></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about"><h5>About</h5></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/men"><h5>Men</h5></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="women"><h5>Women</h5></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact"><h5>Contact Us</h5></a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
  