<div class="container">
  <div class="row">
    <div class="col bg-light"><img src="../assets/jeans.jpg" alt="akku" height="300px">
      <h5>Jeans</h5>
    </div>
    <div class="col bg-light"><img src="../assets/tshirt.jpg" alt="akku" height="300px">
      <h5>Tshirts</h5>
    </div>
    <div class="col bg-light"><img src="../assets/shorts.jpg" alt="akku" height="300px">
      <h5>Shorts</h5>
    </div>
    </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col bg-light"><img src="../assets/shirt.jpg" alt="akku" height="300px">
      <h5>shirts</h5>
    </div>
    <div class="col bg-light"><img src="../assets/trouser.jpg" alt="akku" height="300px">
      <h5>Trousers</h5>
    </div>
    <div class="col bg-light"><img src="../assets/track.jpg" alt="akku" height="300px">
      <h5>Track Suits</h5>
    </div>
    </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col bg-light"><img src="../assets/kurti.jpg" alt="akku" height="300px">
      <h5>Kurti</h5>
    </div>
    <div class="col bg-light"><img src="../assets/suits.jpg" alt="akku" height="300px">
      <h5>Suits</h5>
    </div>
    <div class="col bg-light"><img src="../assets/western.jpg" alt="akku" height="300px">
      <h5>Western Dress</h5>
    </div>
    </div>
</div>
<br>
<h1 class="text-center text-success font-italic"> Top Brands</h1>
<br>
<div class="container">
  <div class="row">
    <div class="col bg-light"><img src="../assets/reebok.png" alt="akku" height="100px"> 
    </div>
    <div class="col bg-light"><img src="../assets/adidas.png" alt="akku" height="100px">
   </div>
    <div class="col bg-light"><img src="../assets/gucci.png" alt="akku" height="100px">
    </div>
    <div class="col bg-light"><img src="../assets/arrow.jpg" alt="akku" height="100px">
    </div>
    <div class="col bg-light"><img src="../assets/wavelength.jpg" alt="akku" height="100px">
    </div>
    <div class="col bg-light"><img src="../assets/levis.png" alt="akku" height="100px">
    </div>
    </div>
</div>
<br>



