<h1 class="text-dark text-center text-bold">FAHIONCLUB.COM</h1>
<nav class="navbar navbar-expand-sm bg-warning">
    <h4> About </h4>
  </nav>
  <div class="container-fluid">
    <div class="jumbotron">
      <p><b>Fashion Club</b>, one of the pioneers of retailing in India, is represented through its 322 brick and mortar stores across the length and breadth of the country. We strive to make the aspirations of our customers affordable. Having said that we do everything that can take us nearer to our goal. Our proposition -best price, best assortment and best quality makes us unique among the millions of our customers who give us a chance to service them daily. While our stores house groceries, FMCG, fashion, household, electronics among other categories, we are currently online with fashion apparel only catering to men, women & kids Fashion. Our assortments online include Jeans, t-shirts, tops, casual shirts, formal shirts, trousers, ethnic wear, active wear and many more</p>      
     <p>At Fashionclub.com, we encourage you to indulge yourself more on online shopping with your choices of fashion assortment for all ages. What set us apart and unique is the right pricing with no compromise in quality in its products and services. With the most friendly return policy, you can visit any of our stores across India and return your order if you are not satisfied with them.</p>
    <p>Fashion Club offers clearly differentiated value to customers in the following product categories:</p> 
     <ul>
         <li>Fashion: Fresh, trendy and affordable fashion comprising latest Apparel, Footwear & Lifestyle accessories collection across Men’s, Women’s & Kid’s.</li>
         <li>General Merchandise: Catering to all the household needs such as Kitchen-ware, Home Furnishings, Luggage & Travel Accessories, Home/Kitchen Appliances, Toys & Sports etc. at best prices</li>
         <li>Grocery and Household Needs: Catering to all daily needs with an extensive Grocery & Staples, Packed Food, Branded Personal Care and Household Needs products</li>
     </ul>   
</div>      
  </div>\
  <br>
  <h2 class="text-center text-dark">Frequently Asked Question</h2>
  <br>
  <h5 text-left text-dark>Q1- How To Order Online</h5>
  <button (click)="content()" class="btn-primary">Click Here For Answer</button>
  <p>{{ msg }}</p>
  <br>
  <h5 text-left text-dark>Q2- Is Registration mandatory?</h5>
  <button (click)="cont()" class="btn-primary"> Click Here For Answer</button>
  <p>{{ index }}</p>
  <br>
  <nav class="navbar navbar-expand-sm bg-success navbar-black"><h3 class="text-left text-white">copyright@2019</h3></nav>


