<img src="../assets/pic2.jpg" alt="akku" width="100%" height="400px">
<br><br>
<h1 class="text-warning font-italic text-center"> New Arrival</h1>
<div class="container-fluid">
    <br>
    <div class="row">
      <div class="col-md bg-light"><img src="../assets/ab2.jpg" alt="akku" height="400px"></div>
      <div class="col-md bg-light"><img src="../assets/boy.jpg" alt="akku" height="400px"></div>
    </div>  
  </div>
  <br>
  <div class="row">
  <div class="col-md bg-light"><img src="../assets/pic1.jpg" alt="akku" height="400px"></div>
  <div class="col-md bg-light"><img src="../assets/boy1.jpg" alt="akku" height="400px"></div>
</div>
<br>
<h1 class="text-center text-success font-italic"> Best Seller</h1>
<br>
<app-card></app-card>
<app-contact></app-contact>


 