<div class="container">         
    <img src="../assets/mens.jpg" alt="Cinque Terre" width="100%" height="400px"> 
  </div>
  <br>
  <h1 class="text-center text-danger font-italic">Sale</h1>
<br>
<div class="container-fluid">
    <div class="row">
      <div class="col-sm bg-light">  <img src="../assets/img1.jpg" alt="Cinque Terre" width="100%" height="300px">
        <ul>
          <li><h3>Tshirt</h3></li>
          <li><h4>76$</h4></li>
          <li><h4><del>90$</del></h4></li>
      </ul>
      <button class="btn-primary" (click)="onAddCart()">Add Cart</button>
      <p> {{msg}} </p>
    </div>
      <div class="col-sm bg-light">  <img src="../assets/img2.jpg" alt="Cinque Terre" width="100%" height="300px">  <ul>
        <li><h3>Shirt</h3></li>
        <li><h4>80$</h4></li>
        <li><h4><del>94$</del></h4></li>
    </ul>
    <button class="btn-primary" (click)="onAddCar()">Add Cart</button>
    <p> {{msgs}} </p></div>
      <div class="col-sm bg-light">  <img src="../assets/img4.jpg" alt="Cinque Terre" width="100%" height="300px">  <ul>
        <li><h3>Jeans</h3></li>
        <li><h4>85$</h4></li>
        <li><h4><del>89$</del></h4></li>
    </ul>
    <button class="btn-primary" (click)="onAddCa()">Add Cart</button>
    <p> {{msgss}} </p>
    
</div>
      <div class="col-sm bg-light">  <img src="../assets/img5.jpg" alt="Cinque Terre" width="100%" height="300px">  <ul>
        <li><h3>Lower</h3></li>
        <li><h4>79$</h4></li>
        <li><h4><del>82$</del></h4></li>
    </ul>
    <button class="btn-primary" (click)="onAdd()">Add Cart</button>
    <p> {{msgsss}} </p>
</div>
    </div>  
  </div>
  <iframe width="420" height="345" src="https://www.youtube.com/watch?v=-4VLFVgoAyM&feature=youtu.be">
  </iframe>
  
  
